/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 6rem;
}

p {
    font-size: 10px;
}

h2 {
    font-size: 25px;
}

h5 {
    font-size: 19px;
}

h6 {
    font-size: 14px;
}

body .btn {
    font-size: 10px;
    color: var(--ps-buttonlight);
    font-weight: 600;
}

/* #endregion Common */

/* #region Colors Palette */

:root {
    --ps-dark: #000000;
    --ps-dark-light: #1F1F1F;
    --ps-dark-lighter: #363636;
    --ps-button: #2D64E6;
    --ps-bgwhite: #FFFFFF;
    --ps-buttonlight: #FEFDFC;
    --ps-plus: #BEBCBB;
    --ps-buttonplus: #D9DADC;
    --ps-footer: #00439C;
    --ps-psnow: #161C3B;
    --ps-buttonnow: #F5F5F5;
}

/* #endregion Colors Palette */

/* #region Header */

.bg_heading {
    background-color: var(--ps-dark);
}

header nav .btn_dark {
    background-color: var(--ps-dark-lighter)
}

/* #endregion Header */

/* #region Main */

.carousel .slider {
    background-image: url("/assets/img/jumbo-bg.png");
    background-size: cover;
    background-position: top center;
    height: 500px;
}

.title .play {
    font-size: 0.6rem;
}

.takes_two {
    background-image: url("/assets/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg_new_release {
    background-color: var(--ps-dark-light);
}

.bg_psplus {
    background-color: var(--ps-plus);
}

.psplus .btn_plus {
    background-color:var(--ps-buttonplus);
}

.psplus p {
    font-weight: 600;
}

.bg_psnow {
    background-color: var(--ps-psnow);
}

.psnow .btn_plus {
    background-color:var(--ps-buttonplus);
}

/* #endregion Main */

/* #region Footer */


footer {
    background-color: var(--ps-footer);
}

/* #endregion Footer */

/* Animation */

.playstation5 .enlight:hover {
    opacity: 1.0;
    cursor: pointer;
    color: var(--ps-dark);
}

.opacity_50 {
    opacity: 0.5;
}

.text_secondary {
    color: grey;
}