/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Colors Palette */

:root {
    --ps-dark: #000000;
    --ps-dark-light: #1F1F1F;
    --ps-button: #2D64E6;
    --ps-bgwhite: #FFFFFF;

}

/* Header */

header .bg_heading {
    background-color: var(--ps-dark);
}

/* Debug */

/* Header */

.debug .heading {
    height: 50px;
}

.debug nav {
    background-color: aqua;
    height: 100px;
}

/* Main */

.debug .carousel {
    height: 300px;
    background-color: blueviolet;
}

.debug .slider {
    height: 150px;
    background-color: brown;
}

.debug [class^="col"] {
    background-color: red;
    height: 50px;
    border: 1px solid black;
}

.debug .title {
    height: 100px;
    background-color: cadetblue;
}

